.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  text-transform: uppercase;
  font-weight: 100;
  color: white;
  opacity: 0.8;
  margin: 2.1875rem 0;
  letter-spacing: 0.375rem;
  font-size: 2.5rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  background-color: aliceblue;
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  outline: none;
}

.form button {
  cursor: pointer;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  color: #1f69bd;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: aliceblue;
  width: 32rem;
  padding: 1rem;
  margin: 2.1875rem 0;
  list-style: none;
}

.task-list li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

